/* ===== Stilos del contenido de la peliculas ===== */
.moviesContainer {    
  padding: 4em;
  display: grid;
  width: 100%;
  gap: 5em; 
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 56em) {
  .moviesContainer {
    grid-template-columns: 100%;
  }
}

.moviesContainerSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
}