/* ===== Stilos del contenedo de la peliculas ===== */
.moviesContainer {    
  padding: 2em;
  display: grid;
  gap: 1em; 
  grid-template-columns: repeat(auto-fill, 20em);
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

@media (max-width: 56em) {
  .moviesContainer {
    grid-template-columns: 100%;
  }
}
