.cardContainer {
  width: 18em;
}

.cardContent {
  width: 100%;
  height: 100%;
  /* padding: 1em; */
}

.cardContent img {
  border-radius: 1em;
  width: 100%;
}

.cardContent img:hover {
  opacity: 0.8;
}